<footer class='bg-gray-900 px-6 xl:px-0 py-14 w-full'>
  <div class='mx-auto max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-4'>
    <div class='text-center md:text-left mb-4 md:mb-0'>
      <h3 class='text-gray-300 mb-5'>Vipatra</h3>
      <p class='text-gray-400 text-sm mb-8 mx-auto max-w-2xl'>
        We at vipatra focus on empowering Bhaarat by empowering MSME. We are
        located in Bengaluru, Karnataka. We have a clear focus and a good
        leadership with proper execution.
      </p>
      <ul
        class='flex gap-4 text-xs text-gray-500 justify-center md:justify-start'
      >
        <li><a href='/terms-and-conditions'>Terms & Conditions</a></li>
        <li><a href='/privacy-policy'>Privacy Policy</a></li>
      </ul>
    </div>
    <div class='place-self-center'>
      <h6 class='text-gray-400'>Follow us on</h6>
      <div class='flex justify-center gap-4 text-gray-500'>
        <!-- Youtube icon -->

        <a href='https://www.youtube.com/channel/UC3ekCOdhrrn6njwe-DTpT3g'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path
              d='M12 19c-2.3 0-6.4-.2-8.1-.6-.7-.2-1.2-.7-1.4-1.4-.3-1.1-.5-3.4-.5-5s.2-3.9.5-5c.2-.7.7-1.2 1.4-1.4C5.6 5.2 9.7 5 12 5s6.4.2 8.1.6c.7.2 1.2.7 1.4 1.4.3 1.1.5 3.4.5 5s-.2 3.9-.5 5c-.2.7-.7 1.2-1.4 1.4-1.7.4-5.8.6-8.1.6 0 0 0 0 0 0z'
            ></path>
            <polygon points='10 15 15 12 10 9'></polygon>
          </svg>
        </a>

        <!-- TWITTER ICON -->

        <a href='https://twitter.com/vipatra_in'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path
              d='M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z'
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
