<nav class='bg-green-400 px-4 py-4 lg:px-0'>
  <div class='flex gap-2 justify-between mx-auto max-w-6xl'>
    <div><a class='text-2xl font-semibold' href='/'>Vipatra</a></div>
    <div class='flex gap-4'>
      <div>
        <a
          class='bg-green-5 text-base text-gray-800 px-4 py-2.5 font-semibold rounded-full'
          href='https://dashboard.vipatra.in/signin'>Sign in</a
        >
      </div>
      <div>
        <a
          class='bg-white text-gray-700 px-6 py-2.5 font-semibold rounded-full'
          href='/contact-us'>Contact Us</a
        >
      </div>
    </div>
  </div>
</nav>
