---
export interface Props {
  title: string;
  description: string;
  iconUrl?: string;
}

const { title, description, iconUrl } = Astro.props;
---

<div class='grid grid-cols-1 p-8 border-2 border-slate-100 bg-white rounded-xl'>
  {iconUrl && <img class='h-8 w-8 text-black mb-4' src={iconUrl} />}
  <h4 class='mb-2'>{title}</h4>
  <p>{description}</p>
</div>
