@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

input {
  @apply w-full px-3 py-2 border-2 border-gray-200 rounded-md;
}

input:hover {
  @apply border-primary;
}

button {
  @apply w-full text-base px-4 py-2 rounded-lg;
}

button:hover {
  @apply brightness-110;
}
