---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

const cards = [
  {
    title: 'Digital menus',
    description:
      'You can showcase menus & brochures of your restaurant/hotel digitally with Vipatra.',
    iconURL: '/icons/phone.svg',
  },
  {
    title: 'Easy to use',
    description: 'You can mange items easily with our simple to use dashboard.',
    iconURL: '/icons/check-circle.svg',
  },
  {
    title: 'Reduced cost',
    description:
      'On an average you can save upto 50% of your maintenance cost.',
    iconURL: '/icons/down-arrow-circle.svg',
  },
  {
    title: 'Safe & secure',
    description:
      'We use the latest security protocols to ensure your data is safe and secure.',
    iconURL: '/icons/lock.svg',
  },
  {
    title: 'Low cost',
    description:
      'Our software is on average 10 times cheaper and our pricing is also simple to understand.',
    iconURL: '/icons/down-arrow-circle.svg',
  },

  {
    title: 'Free updates',
    description:
      'We provide free updates to our software and we are always working on new features.',
    iconURL: '/icons/download.svg',
  },
];
---

<Layout title='Welcome to Astro.'>
  <!-- Hero section -->

  <div class='grid grid-cols-1 md:grid-cols-2 gap-10 justify-center py-10'>
    <div class='self-center text-center md:text-left'>
      <h1 class='mb-2 underline'>Digitalizing</h1>
      <h2 class='mb-8'>Restaurants</h2>
      <p class='mb-12'>
        Providing digital menus to restaurants and hotels to increase their
        sales.
      </p>
      <div class='text-center md:text-left'>
        <a
          class='px-10 py-4 text-center font-semibold rounded-full bg-indigo-500 text-white'
          href='/'>Contact Us</a
        >
      </div>
    </div>
    <div></div>

    <!-- Cards section -->

    <div class='md:col-span-2 py-10'>
      <h2 class='text-center mt-10 lg:mt-14 mb-10 lg:mb-14'>
        Why choose Vipatra?
      </h2>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-6'>
        {
          cards.map((card) => (
            <Card
              title={card.title}
              description={card.description}
              iconUrl={card.iconURL}
            />
          ))
        }
      </div>
    </div>

    <!-- CTA -->

    <div
      class='md:col-span-2 grid grid-cols-1 lg:grid-cols-2 border-2 border-green-400 bg-green-400 p-10 lg:p-24 w-full mx-auto max-w-6xl rounded-xl'
    >
      <h2 class='place-self-center text-center md:text-left'>
        Get digital menu for <span class='text-red-60'>free</span>
        <div class='text-sm text-gray-800 font-normal align-middle mt-2'>
          *Free for 3 months, comes with free QR Code stands, 1-1 support.
        </div>
      </h2>
      <a
        class='place-self-center text-lg bg-white text-black font-semibold px-8 py-3 rounded-full mt-8 lg:mt-0'
        href='/contact-us'>Contact Us</a
      >
    </div>
  </div>
</Layout>
